<section class="post">
  <div class="container">
    <article class="post">

            <div class="post-heroWrapper">
                <img class="post-hero" src="/public/images/backgrounds/fanfiction-page/writers.jpg">
            </div>

            <h1 class="post-title">Writers</h1>


        </article>
  </div>
</section>

<section class="writers mt-5 text-white pb-5">
  <div class="container">

    <div class="row">
    <form method="get">
      <div class="col-md-6">
        <input name="q" placeholder="Search writers..." value="<%= q || '' %>" />
      </div>
      <div class="col-md-6">
        <button>Search</button>
      </div>
    </form>
    </div>
</div>
</section>
    



<section class="writer-list">
  <div class="container">
    <div class="row">
      <% writers.forEach(w => { %>

      <div class="col-md-6">
    <img src="<%= w.img %>" alt="" >
      </div>
      <div class="col-md-6">
          <h2><a href="/fanfiction/writers/<%= w.id %>"><%= w.name %></a></h2><hr />
          <p>
            Updated: Feb 20, 2026
          </p>
        <p class="text-white"><%= w.bio %></p>
        <a href="/fanfiction/writers/<%= w.id %>" class="btn btn-primary rounded-0">View Writer <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
      <% }) %>
    </div>
  <%- include('../partials/pagination', { total, page, limit, q }) %>

  </div>
</section>
  



  