<section class="quotes" id="quotes">
  <div class="d-flex h-100 align-items-center">
            <div class="container">
  
            <header class="text-center">
              <h2 class="text-uppercase lined">Quotes</h2>
            </header>
          <div class="row">
          <div class="col-lg-2">
          </div>
  
            <div class="col-lg-8">
              <p class="text-center">Handcrafted by Users @Crazy and @Indo_Carib over at the HMS Harmony discord.</p>
            </div>
  
            <div class="col-lg-2">
            </div>
          
          </div>
  
          <div class="row">
            <div class="col-lg-3 mt-4">
              <a href="/ps"><img class="w-100 image rounded " src="/public/images/quotes/ps.jpg" alt="PS"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#cod"><img class="w-100 image rounded " src="/public/images/quotes/cos.jpg" alt="CoS"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#poa"><img class="w-100 image rounded " src="/public/images/quotes/poa.jpg" alt="PoA"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#gof"><img class="w-100 image rounded " src="/public/images/quotes/gof.jpg" alt="GoF"></a>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-3 mt-4">
              <a href="#ootp"><img class="w-100 image rounded " src="/public/images/quotes/ootp.jpg" alt="OoTP"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#hbp"><img class="w-100 image rounded " src="/public/images/quotes/hbp.jpg" alt="HBP"></a>
            </div>
            <div class="col-lg-3 mt-4">
              <a href="#dh"><img class="w-100 image rounded " src="/public/images/quotes/dh.jpg" alt="DH"></a>
            </div>
            <div class="col-lg-3 mt-4">
              
            </div>
          </div>

  
  
            </div>
          </div>
        </section>







<section class="container">
  <h1>Quotes</h1>

  <form method="get" class="filters">
    <input name="q" value="<%= q || '' %>" placeholder="Search quotes..." />
    <input name="book" value="<%= book || '' %>" placeholder="Book (exact)" />
    <input name="year" value="<%= year || '' %>" placeholder="Year (1997)" />
    <button>Search</button>
    <% if (q || book || year) { %>
      <a href="/quotes">Clear</a>
    <% } %>
  </form>

  <p><%= total %> result<%= total===1?'':'s' %></p>

  <ul class="quote-list">
    <% results.forEach(r => { %>
      <li class="quote">
        <div class="meta">
          <strong><%= r.book %></strong>
          <% if (r.year) { %> · <span><%= r.year %></span><% } %>
          · <small>#<%= r.id %></small>
        </div>
        <blockquote class="text"><%- r.quote_html %></blockquote>
        <% if (r.source_note) { %>
          <div class="note"><small><%= r.source_note %></small></div>
        <% } %>
        <div class="links">
          /quotes/<%= r.id %>View</a>
        </div>
      </li>
    <% }) %>
  </ul>

  <%- include('../partials/pagination', { 
        total, page, limit, 
        q, book, year 
      }) %>
</section>