<section class="quotes mt-5 text-white pb-5">
    <div class="container">
  <h1>Harry and Hermione Quotes</h1><hr />
<p>This H/Hr quote collection was compiled by Users @Crazy and @Indo_Carib over at the HMS Harmony discord.</p>
<p>You can find the cord here: <a href="https://discord.gg/2GcXw8R">HMS Harmony</a></p>

<p>Not all of the quotes here will be explicitly romantic quotes; they are quotes that contribute to our understanding of Harry and Hermione as people, their interactions with each other, and their relationship which shone in all the moments, big or small. Every bizarre situation they found themselves in, whether in a straightforward or subtle way. Canon is full to the brim with moments that showcase Harry and Hermione’s relationship, strong friendship, and foundation of trust, love, and understanding that belongs only to them.</p>

<p>These quotes are the wood and nails that built the ship Harry and Hermione. </p><br>

<p class="muted">Choose a book:</p><hr />

  </div>
</section>

<section class="quotes mt-5 text-white pb-5">
  <div class="container">
      <div class="row grid books">
    <% items.forEach(item => { %>
        <div class="col-md-6 py-5 ">
          <img src="/public/images/quotes/<%= item.code %>.jpg" class="img-fluid w-100" />
        </div>
        <div class="col-md-6 py-5">
          <h2><a href="/quotes/<%= item.code %>"><%= item.title %></a></h2><hr />
          <p><u>
            <div class="muted small"><%= item.count.toLocaleString() %> quote<%= item.count===1?'':'s' %></div>
          </u></p>

          <p>
            <u>The original objective</u>: To create a website which replaces the void Portkey.org
            left behind as a website for fanfiction and forum for discussion based solely on the Harry/Hermione pairing.
          </p>

          <p>
            <a href="/fanfiction">Fanfiction</a>: Was to be a place where authors could post their HHR stories.
            The stories would be sorted by readers using a search function similar to what porkey and the archive have
            (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).
          </p>

            <a class="btn btn-primary rounded-0" href="/quotes/<%= item.code %>">View Quotes</a>
        </div>
    <% }) %>
      </div>
      

       
</div>
</section>