
<section>
  <h1>Blog</h1>

  <form method="get" class="filters">
    <input type="text" name="q" placeholder="Search posts..." value="<%= q || '' %>"/>
    <input type="text" name="tag" placeholder="Tag (e.g., news)" value="<%= tag || '' %>"/>
    <button type="submit">Filter</button>
  </form>

  <ul class="post-list">
    <% posts.forEach(p => { %>
      <li>
  <div class="row">

       <div class="col-md-6">
          <h3><a href="/blog/<%= p.slug %>"><%= p.title %></a></h3>
          <p><%= p.summary %>...</p>
          <small><%= p.published_at %> · <%= (p.tags || '') %></small><br>
          <a class="btn btn-primary rounded-0" href="/blog/<%= p.slug %>">Red More</a>
       </div>
       <div class="col-md-6">
        <img src="<%= p.image %>" class="w-100" />
       </div>
  </div>


      </li>
    <% }) %>
  </ul>


  <%- include('../partials/pagination', { total, page, limit, q, tag }) %>
</section>
