<section class="blog-post mt-5 text-white pb-5" >
  <div class="container">
  <h1>Blog</h1><hr />

  <form method="get" class="filters">
    <input type="text" name="q" placeholder="Search posts..." value="<%= q || '' %>"/>
    <input type="text" name="tag" placeholder="Tag (e.g., christmas)" value="<%= tag || '' %>"/>
    <button type="submit">Filter</button>
  </form><hr />

  <ul class="post-list">
    <% posts.forEach(p => { %>
      <li>
  <div class="row">

       <div class="col-md-6 py-5">
        <h1 class="display-5 link-body-emphasis mb-1 post-title"><a href="/blog/<%= p.slug %>"><%= p.title %></a></h1>
          <p class="blog-post-meta"><%= p.published_at %> || <%= (p.tags || '') %> </p>
          <p><%= p.summary %>...</p>
          <a class="btn btn-primary rounded-0" href="/blog/<%= p.slug %>">Red More</a>
       </div>
       <div class="col-md-6 py-5 ">
        <img src="<%= p.image %>" class="w-100" />
       </div>
  </div>


      </li>
    <% }) %>
  </ul>


  <%- include('../partials/pagination', { total, page, limit, q, tag }) %>

</section>
